<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" #product placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="serachProduct(product.value)" type="submit">Search Product</button>
        </form>
        <form class="form-inline my-2 my-lg-0" *ngIf="isAdmin">
            <input class="form-control mr-sm-2" type="text" #category placeholder="category" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="addCategory(category.value)"
                type="submit">Add category</button>
        </form>
    </div>
</nav>